<h1>Your Profile</h1>
<%= link_to 'Edit', edit_profile_path(@user.id) %>
<p>Email: <%= @user.email %></p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>

<h2>Your Address</h2>
<p>Address: <%= @address.street_1 %></p>
<p>Address 2: <%= @address.street_2 %></p>
<p>City: <%= @address.city %>, State: <%= @address.state %>, Postal Code: <%= @address.postal_code %></p>

